@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

:root {
    --blue: #2E51A2;
    --grey: #E1E7F5;

}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}



/* Form section */
.form-section {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-section h1 {
    font-size: 3rem;
    margin-bottom: 100px;
    border-bottom: 3px solid white;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

label {
    font-size: 1.5rem;
    text-align: center;
}

input {
    padding: 10px;
    width: 350px;
    font-size: 1.2rem;
}

.form-row {
    display: flex;
    gap: 10px;

}

.form-row > * {
    flex: 1;
}

.submit-button {
    padding: 10px;
    font-size: 1.5rem;
    background-color: white;
    color: var(--blue);
    font-weight: 900;
    border: none;
}

.submit-button:hover {
    cursor: pointer;
}

/* Main content section */
.main {
    flex: 2;
    display: flex;
    align-items: center;
    background-color: var(--grey);
    flex-direction: column;
}

.heading {
    font-size: 3rem;
}

/* Table */
table {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

table, th, td {
    border-spacing: 0;
    outline: 1px rgb(164, 164, 164) solid;
    
}

th {
    font-size: 2rem;
    padding: 10px;
    width: 200px;
    background-color: #2E51A2;
    color: white;
}

td {
    font-size: 1.5rem;
    padding: 5px;
}

.del {
    background-color: red;
    text-align: center;
    font-weight: 100;
    color: white
}

.del:hover {
    cursor: pointer;
    font-weight: 900;
}