@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

:root{
    --main-colour: rgb(250,235,221);
    --font-colour: #0E7B6C;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
}

.form {
    flex: 1;
    background-color: var(--main-colour);
    align-self: stretch;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 3;
}

.form-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-heading h1 {
    font-size: 3rem;
    border-bottom: 2px solid var(--font-colour);
    color: var(--font-colour);
}

.form-heading h2 {
    color: var(--font-colour);
}

.form-heading {
    flex: 1;
}

.actual-form {
    flex: 3;
    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-row {
    width: 80%;
    display: flex;
}


label {
    font-size: 1.5rem;
    flex: 1;
    color: var(--font-colour);
}

input {
    width: 300px;
    padding: 10px;
    flex: 3;
    border-radius: 25px;
    border: none;
}

input[type='checkbox'] { 
    height: 20px;
}

button{
    padding: 15px;
    background-color: #0E7B6C;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    border: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    height: 70vh;
    width: 950px;
    border: 1px solid black;
}

.list-heading {
    display: flex;
    justify-content: space-between;
    background-color: #0E7B6C;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
}

.list-heading > div {
    flex: 1;
}

.listings {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.list-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--main-colour);
    
}

.list-row > div {
    flex: 1;
}


